@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.mint_btn {
    height: 5.2rem;
    width: 8.7rem;
    border-color: #FFF;
    color: #FFF;
    background-color: black;
    font-size: 2rem;
    font-family: 'VT323', monospace;
}

input {
    height: 2.4rem;
    width: 3.2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-size: 1.3rem;
    font-family: 'VT323', monospace;
}

.mint_btn:hover {
    color: #000;
    background-color: #FFF;
}

.generalSale {
    align-items: baseline;
    margin-bottom: 1rem;
}

.quant_label {
    font-size: 0.8rem;
}