a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav_link {
    color: #FDC00A;
    font-size: 2rem;
    padding: 1rem;
}

.nav_link:hover {
    font-size: 2.1rem;
}